.header {
    padding: 5px;
    background: #ffffff;
    color: black;
    text-align: left;
    box-shadow: 5px 5px 5px 0px rgba(167, 165, 165, 0.75);
    // background: linear-gradient(270deg,  #cae9ff 0%, #03045e 100%);
    display: flex;
    img {
      height: auto;
    }
  }